#swiper-container{
    height: 100%;
    background-color: var(--ion-color-secondary-tint);
    transition: background-color 1s;
}

swiper{
   // background-color: var(--ion-color-tertiary-tint);
    //background-color: yellow;
    height: 100%;
    width: 95%;
    ion-card{
        height: 92%;
        display: flex;
        flex-direction: column;
        ion-card-header{
            ion-card-subtitle{
                display: flex;
                align-items: center;
                justify-content: space-between;
                ion-chip{
                    ion-icon{
                        margin: 0;
                    }
                }
            }
        }        
        ion-card-content{
            flex-grow: 1;
            overflow-y: scroll;
        }
        div.button-container{
            //position: absolute;
            //bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            ion-chip{
                a{
                    text-decoration: none;
                }
            } 
        }
    }
}

#leggi-articolo-container{
    box-shadow: 10px 10px 200px black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: black;
    z-index: 1;
    display: flex;
    flex-flow: column;
    box-sizing: content-box;
    transition: height 2s;
    div.button-container{
        background-color: black;
    }
    #iframe-container{
        margin: 16px;
        margin-top: 0;
        flex-grow: 1;
        border-radius: 5px;
        background-color: red;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}