#swiper-container{
    height: 100%;
    overflow-y: auto;
    background-color: var(--ion-color-secondary-tint);
    transition: background-color 1s;
}

swiper{
   // background-color: var(--ion-color-tertiary-tint);
    //background-color: yellow;
    height: 100%;
    ion-card{
        height: 92%;
        div.button-container{
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            ion-chip{
                a{
                    text-decoration: none;
                }
            } 
        }
    }
}

